<div class="logo hidden-xs hidden-sm">
  <div class="sign">
    $> commit coffee
  </div>
</div>

<div id="search" class="container search">
  <div class="row">
    <div class="col-lg-12">

      <p class="hidden-xs hidden-sm">
	Enter the location and search for a
	geek friendly coffee place near you with good
	<span class="brown">WiFi</span> and <span class="brown">Coffee</span>
      </p>
      <form class="form-inline" role="form">
	<div class="input-group">
	  <input type="text" ng-disabled="disabled" ng-model="location" class="input-lg form-control" 
		 placeholder="Location" />
		 <span class="input-group-btn">
		   <button ng-disabled="disabled" type="submit" ng-click="search()"
			   class="input-lg btn btn-primary">
			   <i ng-show="disabled" class="fa fa-spinner fa-spin"></i>
			   <span ng-hide="disabled">Search</span>
		   </button>
		 </span>
	</div>
      </form>
    </div>
  </div>
</div>

<div class="map">
  <div ng-model="locationDetails" ng-show="showDetails" class="detail">
    <div class="container message" click-anywhere-but-here="clickedSomewhereElse($event)">

      <div class="close" ng-click="showDetails = showDetails - 1"></div>

      <div class="row">
	<div class="col-md-6">
	  <h2 ng-show="locationDetails.link.homepage">
	    <a ng-show="locationDetails.link.homepage"
	       ng-href="{{ locationDetails.link.homepage }}" target="_blank">
	       {{ locationDetails.name }}
	    </a>
	  </h2>
	  <h2 ng-hide="locationDetails.link.homepage">{{ locationDetails.name }}</h2>
	  <a ng-href="https://maps.google.com/maps?daddr={{mapsURL}}" target="_blank">
	    <h4><b>{{ locationDetails.city }}</b>, {{ locationDetails.address }}</h4>
	  </a>
	</div>
	<div class="col-md-6">
	  <div class="links hidden-xs hidden-sm">

	    <a ng-show="locationDetails.link.homepage"
	       ng-href="{{ locationDetails.link.homepage }}"
	       target="_blank"><i class="fa fa-home fa-4"></i>
	    </a>
	    <a ng-show="locationDetails.link.twitter"
	       ng-href="{{ locationDetails.link.twitter }}"
	       target="_blank"><i class="fa fa-twitter-square fa-4"></i>
	    </a>
	    <a ng-show="locationDetails.link.facebook"
	       ng-href="{{ locationDetails.link.facebook }}"
	       target="_blank"><i class="fa fa-facebook-square fa-4"></i>
	    </a>
	    
	  </div>
	</div>
      </div>
      <div class="row">
	<div class="col-md-6">
	  <dl>
	    <div ng-repeat="(name, value) in locationDetails.description">
	      <dt>{{ name }}</dt><dd>{{ value }}</dd>
	    </div>
	  </dl>
	</div>
	<div class="col-md-6 hidden-xs hidden-sm">
	  <img ng-src="http://maps.googleapis.com/maps/api/staticmap?center={{ locationDetails.coordinates[0] }},{{ locationDetails.coordinates[1] }}&markers={{ locationDetails.coordinates[0] }},{{ locationDetails.coordinates[1] }}&zoom=16&size=398x250&sensor=false">
	</div>
      </div>

    </div>
  </div>
  <div id="map-canvas"> </div>
</div>

<div class="contribute hidden-xs hidden-sm">
  <p>
    Is there a good coffee place missing? Would like to see it here?
    Please make a fork of the
    <a target="_blank" href="https://github.com/xando/commitcoffee">repository</a>.
  </p>

  <p>Create new places/&lsaquo;your-github-username&rsaquo;.json file like
    <a target="_blank" href="https://github.com/xando/commitcoffee/blob/gh-pages/places">
      one of these</a> and simply put you place there.
  </p>

  <p><code>
      $ git commit -m "New awesome coffee place"
  </code></p>

  <p>Send the pull request. We are done here!</p>
</div>

<footer class="hidden-xs hidden-sm">
  <span>
    <i class="fa fa-envelope tblue"></i>
    <a href="mailto:commitcoffee@gmail.com">commitcoffee@gmail.com</a> |
    <i class="fa fa-github tblue"></i>
    <a href="https://github.com/xando/commitcoffee" target="_blank">github.com/xando/commitcoffee</a>
  </span>
</footer>
