<div class="logo" ng-hide="in_search">
  <div class="sign">
    $> commit coffee
  </div>
</div>

<div class="container-fluid">
  <div id="search" class="row">

    <div class="col-xs-12">
      
      <p class="hidden-xs hidden-sm text-center">
	Enter the location and search for a geek friendly coffee place near you with good
	<span class="brown">WiFi</span> and <span class="brown">Coffee</span>
      </p>

      <form role="form" ng-submit="search()">
	<div class="form-group">

	  <div class="input-group">

	    <input type="text" ng-model="location" ng-disabled="disabled"
		   class="form-control input-lg hidden-xs hidden-sm">
	    <input type="text" ng-model="location" ng-disabled="disabled"
		   class="form-control hidden-lg hidden-md">

	    <span class="input-group-btn">

	      <button class="btn btn-success hidden-lg hidden-md" type="submit" ng-disabled="disabled">
		<i class="fa fa-search"></i>
	      </button>

	      <button class="btn btn-success btn-lg hidden-xs hidden-sm" type="submit" ng-disabled="disabled">
		<i class="fa fa-search"></i>  <span class="hidden-xs hidden-sm">Search</span>
	      </button>

	    </span>
	  </div>
	</div>
      </form>

    </div>
  </div>
</div>

<div id="results" class="container-fluid" ng-class="{'hide': !in_search}">

  <div class="row">

    <div class="map col-sm-8 col-xs-12">
      <div id="map-search"> </div>
    </div>

    <div class="list col-sm-4 hidden-xs">
      <div class="list-group">
	<a id="item-{{ item.id }}" ng-repeat="item in items" ng-href="" class="list-group-item"
	   ng-click="show_details(item)" ng-class="{'active': active.item.id === item.id}">
	  <h5>{{ item.properties.name }} <small>{{ item.properties.address }}</small></h5>
	</a>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="submit col-xs-12" >
      <p>
	Is there a good <i class="fa fa-coffee"></i> place missing? Would like to see it here? Please
	<a ng-href="add" class="btn btn-primary" type="button">submit</a>
      </p>
    </div>

  </div>

  
</div>

<div ng-show="false">
  <div class="window" id="item-{{ item.id }}-window" ng-repeat="item in items">
    
    <h3>
      <i class="fa fa-coffee"/>
      {{ item.properties.name }} <br/>
      <small>
	<a href="//maps.google.com?saddr=Current+Location&daddr={{ item.geometry.coordinates[0] }},{{ item.geometry.coordinates[1] }}"
	   title="click to get directions" target="_blank">{{ item.address }}</a>
      </small>
    </h3>

    <h5 ng-show="item.properties.homepage" class="hidden-xs hidden-sm">
      <i class="fa fa-home"></i>
      <a target="_blank" href="{{ item.properties.homepage }}">
	{{ item.properties.homepage }}
      </a>
    </h5>

    <h5 ng-show="item.properties.facebook" class="hidden-xs hidden-sm">
      <i class="fa fa-facebook"></i>
      <a target="_blank" href="{{ item.properties.facebook }}">
	{{ item.properties.facebook }}
      </a>
    </h5>

    <h5 ng-show="item.properties.twitter" class="hidden-xs hidden-sm">
      <i class="fa fa-twitter"></i>
      <a target="_blank" href="http://twitter.com/{{ item.properties.twitter }}">
	@{{ item.properties.twitter }}
      </a>
    </h5>

    <h5 ng-show="item.yelp" class="hidden-xs hidden-sm">
      <i class="fa fa-yelp"></i>
      <a target="_blank" href="{{ item.properties.yelp }}">
	{{ item.properties.yelp }}
      </a>
    </h5>

    <hr/>

    <div class="row">
      <div class="col-sm-6 col-xs-12">
	<dl>
	  <dt><i class="fa fa-wifi" /> Internet</dt>
	  <dd>
	    <span ng-show="item.properties.description.internet">
	      {{ item.properties.description.internet }}
	    </span>
	    <span ng-show="!item.properties.description.internet.length">
	      <i>no infromation provided</i>
	    </span>
	  </dd>

	  <dt><i class="fa fa-plug" /> Power Outlets</dt>
	  <dd>
	    <span ng-show="item.properties.description.power">
	      {{ item.description_power }}
	    </span>
	    <span ng-show="!item.properties.description.power.length">
	      <i>no infromation provided</i>
	    </span>
	  </dd>
	</dl>
      </div>
      <div class="col-sm-6 col-xs-12">
	<dl>
	  <dt><i class="fa fa-users" /> Service</dt>
	  <dd>
	    <span ng-show="item.properties.description.service">
	      {{ item.description_service }}
	    </span>
	    <span ng-show="!item.properties.description.service.length">
	      <i>no infromation provided</i>
	    </span>
	  </dd>

	  <dt><i class="fa fa-cutlery"/> Provision</dt>
	  <dd>
	    <span ng-show="item.properties.description.provision">
	      {{ item.description_provision }}
	    </span>
	    <span ng-show="!item.properties.description.provision.length">
	      <i>no infromation provided</i>
	    </span>
	  </dd>

	</dl>
      </div>
      <div class="col-xs-12" ng-snow="item.properties.description.other">
	<dl>
	  <dt><i class="fa fa-question"/> More</dt>
	  <dd>{{ item.properties.description.other }}</dd>
	</dl>
      </div>
      
    </div>

  </div>
</div>

