#preload-01 { background: url(/static/img/map1.png) }
#preload-02 { background: url(/static/img/map2.png) }

body {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: black;
}

.logo {
	background:url('img/background.jpg') no-repeat;
	background-size:1920px;
	background-position: center -84px;
	border-bottom:2px solid #666;
	padding: 80px 0 90px 0;

	.sign {
		text-align:center;
		color:#fff;
		color: #F5F4DF;
		font-family: 'Kaushan Script', cursive;
		font-size:10em;
		line-height:140px;
		text-shadow: 2px 2px 20px #111;
	}
}


#search {
	background: #000;
	z-index: 50;
	border-bottom: 1px solid #ddd;

	p {
		color:#ddd;
		line-height:30px;
		font-size:19px;
		text-shadow:2px 2px 3px #000;
		.brown {
			color: #A19572;
			font-weight: bold;
		}
	}

}

@media (max-width:992px) {
	#search {
		padding: 15px 0 0 0;
		.col-xs-12  {
			padding: 0;
		}
	}
}

@media (min-width:992px) {
	#search {
		padding: 0;
		padding: 20px 20%;
	}
}


#add.container {
	background-color: white;
	padding: 0 30px 0 20px;

	.submited {
		padding: 100px 0;
	}

	form {
		margin-top: 20px;

		.angular-google-map-container {
			height: 300px;
			border: 1px solid #ccc;
			.marker {
				z-index: 11111;
				position: absolute;
				top: 50%;
				left: 50%;
			}
		}

		.fa {
			min-width: 16px;
		}

		.coords {
			width: 50%;
			&:first-of-type {
				border-right: 0;
			}
		}

		.description {
			.input-group-addon {
				text-align: left;
				min-width: 137px;
			}
		}
		.btn.cancel {
			width: 80px;
		}
		.btn.submit {
			width:100%
		}
	}
}

#results {


	#map {
		// padding: 0;

		.angular-google-map {
			// position: relative;
		}
	}

	#list {
		// box-shadow: -5px 0px 30px -7px rgba(0,0,0,0.75);
		z-index: 10;
		padding: 0;
		color: #555;
		text-decoration: none;
		background-color: #f5f5f5;

		.list-group {
			margin-bottom: 0;
			overflow-y: scroll;
			.list-group-item {
				&:first-child{
					border-top: 0;
				}
				cursor: pointer;
				border-radius: 0;
			}
		}
	}

	#details {
		z-index: 11;
		background-color: #f5f5f5;
		dl {
			dd {
				margin-bottom: 10px;
			}
		}

		.fa {
			min-width: 20px;
		}

		.social {
			min-width: 150px;
		}
	}

	#submit {
		text-align: center;
		font-weight: bold;
		p {
			margin: 0;
			padding: 10px 0;
			&.submit {
				border-top: #eee 1px solid;
				background-color: #f5f5f5;
			}
		}
	}

}


footer {
	background: #000;
	padding: 15px 0 10px;
	text-align: center;
	font-weight: bold;
}
